body{ 
    background-color: rgb(153, 153, 153); 
} 

 
 

h1{ 
    text-align: center; 
    background-color: rgb(115, 115, 115); 
    color: white; 
    padding-bottom: 25px; 
    padding-top: 25px; 
    font-family: 'Times New Roman', serif; 
    margin-bottom: 80px; 
} 

li{ 
    font-family: 'Times New Roman', serif; 
    font-size: 20px; 
    margin-bottom: 20px!important; 
    margin-top: 5px; 
    border-radius: 5px; 
} 
 
.bet-btn{ 
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 0px!important; 
    background-color:rgb(87, 87, 87) ; 
    border-color:rgb(87, 87, 87) ; 
} 



#game-col{ 
    border: rgb(87, 86, 86) solid 2px; 
    border-radius: 5px; 
    height: 300px; 
    background-color: rgb(87, 87, 87); 
    margin-top: 30px; 
    padding: 5px; 
}  

#left-col{ 
    background-color:rgb(115, 115, 115) ; 
    border: rgb(87, 86, 86) solid 1px; 
    border-radius: 3px; 
    padding-left: 10px; 

    padding-top: 5px; 
} 
  
#col-right{ 
    margin-top: 30px; 
    padding: 10px 0px 0px 10px; 
    border-radius: 5px; 
    margin-right: 0px; 
} 

#coll{ 
    background-color: rgb(87, 86, 86); 
    padding: 0px 5px 0px 5px; 
    border-radius: 5px; 
} 
 
.lock-col{ 
    background-color: #c6c8ca; 
    padding: 20px 10px 20px 20px; 
} 
 
.slot-col{ 
    padding: 10px 10px 10px 10px; 
    margin-top: 50px; 
    margin-bottom: 20px; 
    background-color: #c6c8ca;  
    border-left: solid  rgb(87, 86, 86) 2px  ;
    border-right: solid  rgb(87, 86, 86) 2px  ;
}  

#start{ 
    background-image:url("img/bg.jpg") ; 
} 

 
 

.start{ 
    margin-bottom: 10px; 
    width: 200px!important; 
} 
 

#close-btn{ 
    width: 200px!important; 
    margin-top: 430px; 
    margin-left: 10px; 
} 
 
#exit-btn{ 
    width: 150px; 
    margin-top: 35px; 
} 

#roll-btn{
    background-color: #c6c8ca  ;
    border:rgb(153, 153, 153) ;
    margin-top: 20px;
    margin-left: 360px;
    color: rgb(87, 86, 86) ;
    padding: 10px 30px 10px 30px;
}
 
#start-md-col{ 
    padding-top: 300px!important; 
} 
  
#myModal{ 
    display: none; 
    position: fixed; 
    width: 700px; 
    height: 700px; 
    background-color: rgba(115, 115, 115, 0.808); 
} 
 

#modal1{ 
    background-color: rgb(153, 153, 153); 
    width: 100%; 
    height: 100%; 
} 
  
#right-img{ 
    border: rgb(87, 86, 86) solid 2px; 
    border-radius: 10px; 
    padding: 0px 0px 0px 0px; 
    margin-right: 10px; 
}  

#score-img{ 
    border-radius: 5px; 
} 
 
#score-img2{ 
    border-radius: 5px; 
    margin-left: 10px; 
} 

#right-img2{ 
    border-right: rgb(87, 86, 86) solid 2px; 
    border-top: rgb(87, 86, 86) solid 2px; 
    border-bottom: rgb(87, 86, 86) solid 2px; 
    border-radius: 10px; 
    padding: 0px 0px 0px 5px; 
    margin-left: 15px;  
} 

#slot-img{ 
    border: rgb(87, 86, 86) solid 2px; 
    border-radius: 5px; 
    padding: 5px; 
} 

#col-right1{ 
    padding: 10px 5px 10px 5px; 
    background-color:rgb(87, 87, 87) ; 
    border-radius: 5px; 
} 


 
.locked{
    background-color: rgb(153, 153, 153);
}

  
.modal.fade .modal-dialog{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
  
  .zoom-in {
    transform: scale(0)!important;
    opacity: 0;
    -webkit-transition: 0.2s all 0s;
    -moz-transition: 0.2s all 0s;
    -ms-transition: 0.2s all 0s;
    -o-transition: 0.2s all 0s;
    transition: 0.2s all 0s;
    display: block !important;
  }
  
  .zoom-in.show {
    opacity: 1;
    transform: scale(1)!important;
    transform:none;
  }

  #priceh5{
        text-align: center;
        padding-top: 20px;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 20px;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
            1px 5px 1px #919191,
            1px 6px 1px #919191,
            1px 7px 1px #919191,
            1px 8px 1px #919191,
            1px 9px 1px #919191,
            1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
}



.blink-bg{
    color: #fff;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 1s infinite;
}
@keyframes blinkingBackground{
    0%		{ background-color: #99ffcc;}
    25%		{ background-color: #8be2ff;}
    50%		{ background-color: #ff8080;}
    75%		{ background-color: #d580ff;}
    100%	        { background-color: #ff9966;}
}

